@model DepartmentViewmodel

<div class="form-group">
    <lable class="col-form-label">Code</lable>
    <input type="text" asp-for="Code" class="form-control" readonly />
</div>
<div class="form-group">
    <lable class="col-form-label">Name</lable>
    <input type="text" asp-for="Name" class="form-control" readonly />
</div>
<div class="form-group">
    <lable class="col-form-label">DataOfCreatio</lable>
    <input type="text" asp-for="DateOfCreation" class="form-control" readonly />
</div>