@model DepartmentViewmodel

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>

<br />
<br />

<form asp-action="Create">

    <partial name="PartialView/CreatEditpartialView" />

    <input type="submit" value="Submit" class="btn btn-primary"/>
    <a asp-action="index" class="btn btn-dark">Back To List</a>
</form>

@section ValidationSection {
    @*<script src="c:\users\aliom\source\repos\demo.pl\demo.pl\wwwroot\lib\jquery-validation\dist\jquery.validate.min.js"></script>
    <script src="c:\users\aliom\source\repos\demo.pl\demo.pl\wwwroot\lib\jquery-validation-unobtrusive\jquery.validate.unobtrusive.min.js"></script>*@
    <partial name="_ValidationScriptsPartial"/>
}
